
body{
    margin:0;
    background:black;
}
#WordBoxList {
    display:flex;
    flex-wrap: wrap;
}
#WordWindow {
    height:80vh;
    width:100%
}
.WordBox{
    color:white;
    padding:5px 10px;
    margin:2px 6px;
    border-radius: 10px;
    background:#1d0128;
    position: relative;
    transition: all 0.3s ease;
}
.WordBox:hover{
    background:#5e1c89;
}
.WordBox .word{
    font-size: 1.3em;
}
.WordBox .mean{
    font-size: .9em;
}
.FlowBox{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.FlowBox p{
    display: none;
}
.linkBox img{
    width:50px;
}
.WordBox p{margin:0}

.inner{display:none;}

.describe {
    width:100%;
    height:calc(20vh - 4px);
    display:flex;
}
.discribe div{
    height:100%;
}
.describe .page{
    width:30px;
    background:rgb(76, 26, 78);
}
.describe>.display{
    width:calc(100% - 60px);
    background:#1e031b;
}
.describe>.linkBox{
    width:50px;
    background:#232323;
}
.page p{
    color: white;
    margin:0;
}
.page>div{
    color: white;
    background:#a860c9;
    padding:4px;
    margin:5px 0;
    border-radius: 10px 0px 0px 10px; /* 所有四个边角都有 10px 的圆角 */
}
.clickable{color:white;position: relative;}
.clickable div{position: absolute;width:100%;height:100%;}
.display {color:white}


.display>.edit,form{width:100%;height:100%;}
form>div{
    padding:5px;
}
.InputText{
    width:calc(100% - 70px);
}
input,textarea{background:#1a141c;margin:5px;color:white;}
textarea{
    width:100%;
    height:100%;
}